* { font-family: 'Roboto', sans-serif; }

.header { width: 100%; background: #fff; -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25); box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25); padding: 22px 0 22px 22px; }

.logo { height: 57px; }

.img { -o-object-fit: contain; object-fit: contain; height: 100%; width: 100%; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

.title { display: inline-block; font-weight: 900; font-size: 40px; line-height: 117.9%; color: #333333; margin: 0; }
.title-fz44 { font-size: 44px; margin: 114px 0 79px 0; }

.blocks { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; padding: 0 20px 20px; background: #FFFFFF; margin-top: 40px; }
.blocks__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-height: 446px; width: 100%; max-width: 930px; margin: 15px 10px; -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15); }
.blocks__item_descr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; row-gap: 20px; width: 50%; padding: 47px 0 24px 57px; }
.blocks__item_descr-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; height: 226px; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
.blocks__item_descr-wrapper-arc { border-bottom: none; }
.blocks__item_descr-link { display: inline-block; position: relative; font-weight: normal; font-size: 18px; line-height: 117.9%; width: 100%; height: 100%; max-height: 34px; color: #31B447; text-decoration: none; }
.blocks__item_descr-link:after { content: ''; position: absolute; width: 100%; -webkit-transform: scaleX(0); transform: scaleX(0); height: 3px; bottom: -3px; left: 0; background-color: #31B447; -webkit-transform-origin: bottom right; transform-origin: bottom right; -webkit-transition: -webkit-transform 0.25s ease-out; transition: -webkit-transform 0.25s ease-out; transition: transform 0.25s ease-out; transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
.blocks__item_descr-link:hover, .blocks__item_descr-link :focus { color: #31B447; }
.blocks__item_descr-link:hover::after, .blocks__item_descr-link :focus::after { -webkit-transform: scaleX(1); transform: scaleX(1); -webkit-transform-origin: bottom left; transform-origin: bottom left; }
.blocks__item_descr-icons { height: 100%; max-height: 50px; width: 100%; }
.blocks__item_descr-icons img { width: 45%; -o-object-fit: contain; object-fit: contain; }
.blocks__item_photo { width: 50%; }

@media (max-width: 1439px) { .title { font-size: 36px; }
  .title-fz44 { font-size: 40px; }
  .blocks__item_descr { padding: 30px 0 24px 20px; } }
@media (max-width: 1150px) { .title { font-size: 28px; }
  .title-fz44 { font-size: 32px; }
  .blocks__item_descr-link { font-size: 14px; } }
@media (max-width: 868px) { .title { font-size: 24px; }
  .title-fz44 { font-size: 30px; }
  .blocks__item_descr-link { font-size: 13px; } }
@media (max-width: 768px) { .row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blocks__item_descr-icons { margin-top: 15px; } }
@media (max-width: 425px) { .blocks__item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-height: 100%; margin: 15px 0; }
  .blocks__item_descr { width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 30px 0 24px 0; }
  .blocks__item_descr-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }
  .blocks__item_descr-icons img { padding: 5px; width: 100%; }
  .blocks__item_photo { width: 100%; } }

/*# sourceMappingURL=style.css.map */